[submodule "piatto/src"]
	path = piatto/src
	url = https://github.com/samuelrafo/piatto.git
[submodule "spacegrey/src"]
	path = spacegrey/src
	url = https://github.com/kkga/spacegray.git
[submodule "colour-schemes/src"]
	path = colour-schemes/src
	url = https://github.com/daylerees/colour-schemes.git
